*{
    box-sizing: border-box;
}
body{
    margin:auto
}
.contenedor{
    width: 1200px;
    height: 1250px;
    margin: auto;
}  
h1{
    color: black;
    background-color: whitesmoke;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:xx-large;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}
h2{
    color: black;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 35px;
    padding-bottom: 35px;
}
h3{
    color: black;
    background-color: whitesmoke;
    text-align: center;
    text-decoration-line:line-through;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:xx-large;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
}   
h4{
    color: black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:xx-large;
    align-items: center;
   
}   
.text{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    padding: auto;
    font-size:500%;
}
#banner{
    height: 100px;
    opacity: 15%;
    background-color:whitesmoke;
    color: black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    padding: auto;
    font-size:500%;
}
#banners{
    height: 100px;
    opacity: 100%;
    background-color:white;
    color: black;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size:600%;
}
#imagen{
    height: 80px;
    background-color:darkorange;
    color: whitesmoke;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 25px;
}
.piedepagina{
    height: 60px;
    background-color: darkorange;
    color: black; 
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    padding:initial;
}
.redes{
    width: 64px;
    height: 64px;
    float: right;
    margin-top: 2%;
   margin-right: 20px;
}
.redes a:hover{
    filter: opacity(20);
    filter: drop-shadow(20px);
    color: darkorange;
}
.menu{
    height: 50px;
    background-color:darkorange;
}
.btn{
    float: left;
    width: 300px;
    height: 50px;
    text-align: center;
    color: whitesmoke; 
    background-color:darkorange;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 15px;
}
a .btn:hover{
    background-color: white;
    color: darkorange;
}
.imagen{
    background-image: url(imagenes/ENCABEZADO\ PAGINA\ WEB.png);
    background-repeat: no-repeat;
    background-size: 50%;
    height: 300px;
    width: 2405px;
    align-items: center;

}
.imagens{
    background-image: url(imagenes/PERFIL\ CREADORES\ 1.png);
    background-repeat: no-repeat;
    background-size: 50%;
    height: 1000px;
    width: 2405px;
    align-items: center;
}
.imagenss{
    background-image: url(imagenes/PERFIL\ CREADORES\ 2.png);
    background-repeat: no-repeat;
    background-size: 50%;
    height: 1000px;
    width: 2405px;
    align-items: center;
}
.imagensss{
    background-image: url(imagenes/PERFIL\ CREADORES\ 3.png);
    background-repeat: no-repeat;
    background-size: 50%;
    height: 1000px;
    width: 2405px;
    align-items: center;
}
#pags{
    color: darkorange;
    background-color: white
    
}